/* content of sidebar*/
#cont{
	color: white;
	display: flex;
	flex-direction: row;
	height: 100vh;
	width: 100%;
	justify-content: flex-start;
	
}
.itemsList{
	color: #0B0C10;
}
#button1{
	/*margin-top: 20px;*/
	
}
.groups {
	
	 
}
.input{
	display: flex;
 align-items: flex-end;
  
}
#inputArea{
	width: 300px;
 height: 200px;
}