/*@import url('https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet');
@font-face{
  font-family: 'Roboto Mono', monospace;
  src: url('https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet');
}*/

body {
  margin: 0;
  padding: 0;


  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1F2833;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
