.wrapper{
  
  display: flex;  
 /* flex-flow: flex wrap;*/
  font-weight: bold;
  text-align: left;
  
}
.wrapper > * {
  flex: 1 100%;
}

.rows {
  flex-direction: row;
  display: flex;
  min-width: 1;
  flex: 0.3;
}
.aside-1 {
  background: #1F2833;
  height: 100vh;
  border: solid 1px #45A29E;
  color: white;
  
}

.aside-2 {
  background: #0B0C10;
  border: solid 1px #45A29E;
  height: 100vh;
  width: 300px;
 padding-left: 10px;
 color: white;

}
.columns{
  flex-direction: column;
  display: flex;  
  flex: 2;
}
.container1 {
    background: #1F2833;
    height: 70vh;
    border: solid 2px #45A29E;
    overflow-y: scroll;

}


.container2{
  background: #1F2833;
  height: 30vh;
  border: solid 1px #45A29E;
}

/*#button1{
  background: #45A29E;
  border: solid 2px #66FCF1;
}
#button1:hover{
  background: #66FCF1;
}
#button2{
  background: #45A29E;
  border: solid 1px #66FCF1;
}
#button3{
  background: #45A29E;
  border: solid 2px #66FCF1;
}
#button4{
  background: #45A29E;
  border: solid 2px #66FCF1;
}*/

   .Buttoni {
     width: 105px;
     height: 20vh;
    }
  .imgbuttoni{
    width: 90px;
    height: 90px;
   
  }

  .name-of-button{
    text-align: center;
  }

  .aside-1 { flex: 0.5 0 0; }
  .aside-2 { flex: 1.2 0 0; }

.container1    { flex: 2 0px; }
  .aside-1 { order: 1; } 
  .aside-2   { order: 2; }
  .container1 { order: 3; }
  .container2 { order: 4; }

@media screen and (max-width: 450px) {
   .Buttoni {
    font-size: 10px;
     width: 60px;
     height: 20vh;
    }
  .imgbuttoni{
    width: 40px;
    height: 40px;
  }
  .aside-1 { flex: 0.5 0 0; }
  .aside-2 { flex: 1.2 0 0; }
}

.text-list {
  margin-left: 5px!important;

}