
#bc-login{	
	height:  40vh;
	width: auto;
	background-color: rgba(69, 162, 158, 0.8);  	
	margin: 10vh;
	font-weight: bold;
	color: white;
	justify-content: center;
	display: flex;
	align-items: center;
	
}
#button{
	background-color: transparent;
	border: 2px solid #55BCC9;
	color: white;
	font-weight: bold;
	font-size: 20px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: auto;
  
}
#button:hover {
	background-color:  #1F2833;
	color: white;
	border: 2px solid #66FCF1;

}

#login{
	background-color: transparent;	
	border: 2px solid #45A29E;
}

#login:hover{
	background-color: transparent;	
	border: 2px solid #66FCF1;
}
.positionOfButtons{
	justify-content: center;
	display: flex;
	width: 50%;
	align-items: center;
	margin: auto;
}
