
#bc-form{
	background-color: rgba(0,0,0,0.4);
	border-radius: 10%;
}

#bc-reg{
	padding-top: 1vh;
	height:  70vh;
	width: auto;
	background-color: rgba(69, 162, 158, 0.8);  	
	margin: 10vh;
	font-weight: bold;
	color: white;
	justify-content: center;
	display: flex;
	align-items: center;
	/*border-radius: 10%;*/
}

#button{
	background-color: transparent;
	border: 2px solid #1F2833;
	
	color: white;
	font-weight: bold;
	font-size: 20px;
	display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
	
}
#button:hover {
	background-color: #1F2833;
	color: #66FCF1;
	border: 2px solid #66FCF1;

}

#registration{
	background-color: transparent;
	border: 2px solid #45A29E;
}

#registration:hover{
	background-color: transparent;
	border: 2px solid #66FCF1;
}