.wrapper{  
  display: flex;  
  font-weight: bold;  
}
.wrapper > * {
  flex: 1 100%;
}

.rows {
  flex-direction: row;
  display: flex;
  min-width: 1;
  flex: 0.2;
}
.aside-1 {
  background: #1F2833;
  height: 100vh;
  border: solid 1px #45A29E;
  color: white;  
}

.aside-2 {
  background: #0B0C10;
  border: solid 2px #48F1E5;
  height: 100vh;
  width: 300px;
 padding-left: 10px;
 color: white;

}
.columns{
  flex-direction: column;
  display: flex;  
  flex: 2;
}
.container1 {
    background: #0B0C10;
    height: 70vh;
    border: solid 1px #45A29E;
    overflow-y: auto;  
}
.container2{
  background: #0B0C10 ;
  height: 30vh;
  border: solid 1px #45A29E;
}
#pm{
  color: #45A29E;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}
#button1{
  background: #96FCA9;
 
}
#button1:hover{
  background: #6BF884;
}
#button1:focus{
  background: #44EE62;
}
#button2{
  background:#69F8CA;  
}
#button2:hover{
  background:#41F2B8;  
}
#button2:focus{
  background:#1BE4A2;  
}
#button3{
  background:#48F1E5; 
}
#button3:hover{
 background:  #21E9DA;
 border: solid 2px #21E9DA;
}
#button3:focus{
  background:  #00D9C9;
}
#button4{
  background: #4CE7F8;
 
}
#button4:hover{
  background:  #23E1F3;
   border: solid 2px #23E1F3;
}
#button4:focus{
  background:  #02D3E6;
}  
#button5{
  background: #58A7F5;
} 
#button5:hover{
  background:  #3393EF;
   border: solid 2px #3393EF;
}
#button5:focus{
  background:  #0F7AE1;
} 
#button6{
  color: black;
  background: #8981D7;
}  
#button6:hover{
  background: #645DBF;
}  
#button6:focus{
  background: #483FA6;
}  

.Buttoni {     
 height: 16.7vh;
 /*background: #45A29E;
  border-bottom:solid 1px #66FCF1;*/
}  
.users{
  background: transparent;
  border-color: transparent;      
}
.users:hover{
  background: transparent;
  border-color: transparent;  
}
 
.imgbuttoni{
  width: 100px;
  height: 100px;  
}
.pop-out-button{
  background: #645DBF;
  font-weight: bold;
}
.name-of-button{
 margin-right: 5px;
  color: black;
  font-weight: bold;    
  font-size: 15px; 

}
.name-of-button-1{
  display: block;
   color: black;
  font-weight: bold;    
  font-size: 15px;    
}

.aside-1 { flex: 0.5 0 0; }
 .aside-2 { flex: 1.2 0 0; }

.container1    { flex: 2 0px; }
  .aside-1 { order: 1; } 
  .aside-2   { order: 2; }
  .container1 { order: 3; }
  .container2 { order: 4; }

@media screen and (max-width: 450px) {
   .Buttoni {
    font-size: 10px;
     width: 60px;
     height: 16.7vh;
    }
  .imgbuttoni{
    width: 40px;
    height: 40px;
  }

  .aside-1 { 
    height: 100vh;
    flex: 0.1;
    }
  .aside-2 { 
    height: 100vh; 
     flex: 1;
  }

  .container1 { 
    height: 70vh;    
    flex: 1;
  }
  .container2 { 
    height: 30vh;   
   }
}

.text-list {
  margin-left: 5px!important;
}