

#formShape{
	padding-top: 5vh;
	height:  100vh;
	width: auto;
	background-color: rgba(69, 162, 158, 0.6);
	display: flex;
	justify-content: center;
	
	font-weight: bold;
	color: white;
	margin-left: auto;
    margin-right: auto;
	/*border-radius: 10%;*/
}

#button{
	background-color: transparent;
	border: 2px solid #45A29E;	
	color: #66FCF1;
	font-weight: bold;
	font-size: 20px;
	display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
	
}
#button:hover {
	background-color: #1F2833;
	color: #66FCF1;
	border: 2px solid #66FCF1;

}
 .backButton{
 	background-color: transparent;
	border: transparent!important;
	color: #66FCF1;
	font-weight: bold;
	font-size: 20px;	
	display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
 }

 .backButton:hover{
 	background: transparent!important;
	color: #45A29E;
	border: transparent!important;
	font-weight: bold;
	font-size: 20px;	
 }

 .changingImage{
 	margin: 50px;
 }
 #photo{
 	display: flex;
 }

 @media screen and (max-width: 450px) {
   .changingImage {
    display: none;
    }
    .backButton{
    	font-size: 14px;
    }
    #formShape{
    	height: 80vh;
    	justify-content: center;
    	display: flex;
    	width: auto;
    }
    .first{
    	
    }
    .second{
    	
    }
}
